language: c
sudo: false
before_install:
  - source <(curl -SLs https://raw.githubusercontent.com/${TRAVIS_REPO_SLUG}/${TRAVIS_BRANCH}/install.sh)
script:
  - build_main_platforms 
notifications:
  email:
    on_success: change
    on_failure: change

